<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ID_Info_System.mappers.LoginMapper">

    <insert id="RegisterNewUser">
        INSERT INTO ID_Sys.Login_Info
        VALUES (#{phoneNum}, #{username}, #{password}, 0);
    </insert>

    <select id="getPassword">
        SELECT Login_Info.Password
        FROM ID_Sys.Login_Info
        WHERE username=#{username} OR phoneNum=#{username};
    </select>

<!--    To get username by phone number-->
    <select id="getUsername">
        SELECT Login_Info.Username
        FROM Login_Info
        WHERE username=#{str} OR phoneNum=#{str};
    </select>

    <select id="isAdmin">
        SELECT Login_Info.IsAdmin
        FROM Login_Info
        WHERE username=#{username} OR phoneNum=#{username};
    </select>

    <update id="makeAdmin">
        UPDATE Login_Info
        SET isAdmin=true
        WHERE username=#{username};
    </update>

    <select id="getAll" resultType="com.example.ID_Info_System.model.User">
        SELECT *
        FROM Login_Info
    </select>

    <update id="setPassword">
        UPDATE Login_Info
        SET password=#{password}
        WHERE username=#{username}
    </update>
    
    <delete id="deleteUser">
        DELETE FROM Login_Info
        WHERE phoneNum=#{phoneNum}
    </delete>

</mapper>